/*calculator*/

.btn {
  flex: 1;
  padding: 14px;
  background-color: #d6d6d6;
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: #c0c0c0;
  transform: translateY(-2px);
}

.btn:active {
  transform: scale(0.95);
}

.btnspecial {
  flex: 1;
  padding: 14px;
  background-color: #007bff;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btnspecial:hover {
  background-color: #3399ff;
  transform: translateY(-2px);
}

.btnspecial:active {
  transform: scale(0.95);
}

.hidden {
  display: none;
}

.calendercells {
  transition: all 0.15s ease;
}
.calendercells:hover {
  transform: scale(1.1);
}
.today {
  background: #007bff;
  color: white;
  border-radius: 50%;
}

.notearea {
  font-family: "Courier Prime", monospace;
  resize: none;
}
